body{
	background-image: url('homepage.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
}

.rules{
	position: absolute;
	margin-left: 40%;
	margin-top: 20%;
	margin-right:5%;
	font-family: helvetica;
	color: royalblue;
	font-size: 2vw;
}

.button{
	position: absolute;
	padding: 32px 40px;
	margin-left: 55%;
	margin-top: 50%;
	background-color: royalblue;
	font-family: helvetica;
	font-size: 5vw;
	text-align:center;
	font-weight:bold;
	text-transform: uppercase;
	color: red;
}

a:link{
	text-decoration: none;
	color:red;
}
a:visited{
	text-decoration: none;
	color:white;
}