body{
	background-image: url('winner.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	width: 100%;
}

form{
	padding:15px 25px;
	padding-right:7px;
	background-color: royalblue;
	font-family: helvetica;
	font-size: 1.5vw;
	text-align:center;
	font-weight:bold;
	text-transform: uppercase;
	color: red;
	position: absolute;
	margin-left: 57%;
	margin-top: 62%;
	height:20px;
}

input{
	display: inline-block;
}

#won{
	position: absolute;
	margin-left: 26%;
	margin-top: -1%;
	font-family: helvetica;
	color: royalblue;
	font-size: 4vw;
}

#play_again{
	padding:15px 25px;
	background-color: royalblue;
	font-family: helvetica;
	font-size: 1.5vw;
	text-align:center;
	font-weight:bold;
	text-transform: uppercase;
	color: red;
	position: absolute;
	margin-left: 6%;
	margin-top: 62%;
	height:20px;
}

#app_store{
	padding:15px 25px;
	background-color: royalblue;
	font-family: helvetica;
	font-size: 1.5vw;
	text-align:center;
	font-weight:bold;
	text-transform: uppercase;
	color: red;
	position: absolute;
	margin-left: 23%;
	margin-top: 62%;
	height:20px;
}
